/* #menu
{
	position: fixed;
	width: 100%;
	height: 55px;
	background: black;
} */

body {
  background-image: url("11.jpg");
  background-attachment: fixed;
}

p {
  font-family: "Times New Roman", Times, "sans-serif";
}


p.oblique {
  font-style: oblique;
  text-decoration-color: azure;
  color: rgb(255, 0, 149);
}

h1  {
  font-style: oblique;
  text-decoration-color: azure;
  color: rgb(4, 0, 255);
}


h3  {
  font-style: oblique;
  text-decoration-color: azure;
  color: rgb(199, 8, 142);
}

h4  {
  font-style: oblique;
  text-decoration-color: azure;
  color: rgb(245, 3, 152);
}




.section{
	align-items: center;
	text-align: center;
}


ul {
  z-index: 999;
  list-style-type: none;
  position: fixed;
  width: 100%;
  top:0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}


h2 {
  background-color: rgb(4, 51, 73);
  text-shadow: 3px 2px rgb(240, 26, 158);
 
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: rgb(4, 51, 73);
  padding: 10px;
}

.grid-container > div {
  background-color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
}


div.gallery {
  margin: 5px;
  border: 1px solid rgb(255, 255, 255);
  /* float: left; */
  width: 180px;

}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  /* height: auto; */
}

div.desc {
  padding: 10px;
  text-align: center;
  font-style: oblique;

}


table {
  font-style: oblique;
  text-decoration-color: azure;
  color: rgb(255, 41, 41);
  text-align: center;

  
}




#poly {
  border-radius: 50%;
}


#mydiv {
  padding: 15px;
  border: 10px dotted #000000;
  background-color: black;  
  background-clip:content-box;
}



